body{
    background: rgb(30, 30, 30);
}

.object {
    position: absolute;
}

.self {
    width: 60px;
    height: 80px;
    background: white;
}

.bullet {
    background: yellow;
    width: 5px;
    height: 20px;
}

.enemy {
    background: red;
    width: 40px;
    height: 60px;
}

#game {
    width: 400px;
    height: 640px;
    background: rgb(50, 50, 50);
}

#console{
    color: white;
}