body{
    background: rgb(30, 30, 30);
    color: white;
}

.object {
    position: absolute;
}

.self {
    width: 60px;
    height: 80px;
    background: white;
}

.bullet {
    background: yellow;
    width: 5px;
    height: 20px;
}

.enemyA {
    background: red;
    width: 40px;
    height: 60px;
}

.enemyB {
    background: orange;
    width: 40px;
    height: 60px;
}

.enemyC {
    background: pink;
    width: 40px;
    height: 60px;
}

#game {
    width: 640px;
    height: 640px;
    background: rgb(50, 50, 50);
}


#health_display {
    width: 100px;
    height: 20px;
    background: rgb(70, 70, 70);
}

#health_bar{
    width: 50px;
    height: 20px;
    background: green;
}

.supply {
    width: 10px;
    height: 10px;
    background: yellow;
}

.enemy.hit {
    background: rgb(150, 0, 0);
}