<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" >
<title>簡易チャット</title>
<!-- jQueryの読み込み -->
<script src="/js/jquery.js"></script>
<!-- JavaScriptファイルの読み込み -->
<script src="./js/TextChat.js"></script>
<script src="./js/text_chat.js"></script>
</head>
<body>
<h1>WebSocketを使った簡易チャット</h1>
<!-- ここから -->
<p>名前: <input type="text" id="name">
<button id="connect_button">Connect</button>
<button id="disconnect_button">Disconnect</button></p>
<p>
<input type="text" id="message" size="80">
<button id="send_button">送信</button>
</p>
<hr>
<p>
<button id="clear_all_button">(デバッグ用)すべての履歴を消去</button>
</p>
<div id="console"></div>
<!-- ここまで -->
</body>
</html>
